.profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: lightblue;
  display: flex;
  min-width: 500px;
  min-height: 250px;

  transition: 850ms;
}

.profile.editable {
  min-width: 500px;
  min-height: 300px;

  transition: 850ms;
}

.updateButton {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  padding: 0px 5px 7px 0px;
}

.updateButton:hover {
  color: green;
}

.studentInfo {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 30px;
}

.referToStudent {
  line-height: 20px;
}

.otherInfo {
  line-height: 30px;
}
