.widgets {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* two main sections */
.profile {
  box-shadow: 0px 2px 6px #00000029;
  background-color: lightblue;
  min-width: 500px;
  min-height: 200px;
  transition: 800ms;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profile.editable {
  min-width: 500px;
  min-height: 250px;
  transition: 0ms;
}

.contacts {
  background-color: #0076a3;
  min-width: 500px;
  min-height: 100px;
  margin: 5px;
}

/* buttons */
.editButton {
  color: grey;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 8px;
  left: 15px;
}

.editButton:hover {
  color: white;
}

.cancelButton {
  color: grey;
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 10px;
  left: 10px;
}

.cancelButton:hover {
  color: red;
}

.submitButton {
  background-color: #dcffd1;
  box-shadow: 0px 2px 6px #12192f3b;
  border: none;
  color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px 24px;
  margin: 15px;
}

.submitButton:hover {
  background-color: #69d171;
  color: green;
}

.disabledButton {
  background-color: #eee;
  box-shadow: 0px 2px 6px #12192f3b;
  border: none;
  color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px 24px;
  margin: 15px;
}

/* student information */
.studentName {
  padding: 30px 30px 10px 30px;
}

.editableInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailAndID {
  line-height: 30px;
  padding: 30px;
}

.emailAndID.disclaimerBelow {
  padding: 30px 30px 4px 30px;
}

.updateDisclaimer {
  position: relative;
  left: 16px;
  line-height: 10px;
  padding: 0px 0px 30px 0px;
}

.passwordForm {
  margin: 0px 0px 5px 0px;
  max-width: 350px;
}

/* message */

.alert {
  color: red;
  padding-bottom: 5px;
}

.confirmation {
  color: green;
  padding-bottom: 5px;
}
