body {
    background-color: #F2F2F2;
}

.h1 {
    color: #3E2E2E;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 48px;
}

.h2 {
    color: #3E2E2E;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.dateTime {
    color:#878B8E;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}

.p {
    color: #3E2E2E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.recentUpdates {
    display: inline-block;
    min-width: 50%;
    padding-left: 5%;
}

.card1 {
    /* Layout Properties */
    min-width: 50%;
    transform: scale(1);
    margin-bottom: 12; 

    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    display: inline-block;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;

    /* Text Properties */
    top: 316px;
    left: 275px;
    margin: 0 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
  
}

