* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,
h3,
a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.navbar {
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}

.logo a, 
.navbar a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.navbar a {
    color: #34495e;
    font-size: .99em;
}

.underline {
    position: relative;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.underline,
.underline:hover,
.underline:focus,
.underline:active {
    color: black;
    text-decoration: none;
}

.underline::after {
    content: "";
    position: absolute;
}

.navbar a .underline::after {
    top: 65%;
    height: 2px;
    width: 0%;
    left: 5%;
    color: #718daa;
        transition: 0.5s ease all .3s;
}

.navbar a:hover .underline::after {
    width: 90%;
        transition: 0.3s ease all;
}


.header {
    padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px; 
}


/* ------ Media Queries ------ */

@media (min-width: 769px) {
	.header,
	.navbar {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
        .header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}