.resources {
  position: fixed;
  left: 40%;
  top: 20%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resource {
  width: 200px;
  height: 100px;
  line-height: 90px;
  text-decoration: none;
  margin: 10px;

  background-color: #eeeeee;
  color: #333333;

  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

.resource:hover {
  background-color: #68c3ed !important;
}
