.body {
  padding: 30px;
  font-family: "Open Sans", sans-serif;
  margin: 50px;
}

.container {
  /* Layout Properties */
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  top: 150px;
}

.column {
  flex-basis: percentage(1/3);
  width: percentage(1/3);
  padding: 15px;
  box-sizing: border-box;
}

.astyle {
  background: #ffffff;
  margin: 10px;
  padding: 0 20px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(#000, 0.2);
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
  max-height: 200px;
}

.atitle {
  margin: 0 0 10px;
  color: #444;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}

.aresource {
  display: inline-block;
  padding: 8px 10px;
  margin: 0 0 10px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

.atext {
  color: #666;
  line-height: 1.5rem;
  font-size: 0.875rem;
}

.button {
  /* Layout Properties*/
  position: relative;
  align-content: center;
  top: 20px;
  left: 55px;
  width: 80px;
  height: 30px;
  /* UI Properties */
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
  background: #b8b8b8 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  cursor: pointer;
}
