/* all code copied from Brian Design @https://www.youtube.com/watch?v=CXa0f4-dWi4 */

.navbar {
  z-index: 1;
  background-color: #060b26;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text a:hover {
  background-color: #138eff;
}

.navLink {
  text-decoration: none;
  color: #f5f5f5;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.activeNavLink {
  background-color: #138eff;
}

/* .searchbar {
  margin: 15px;
} */

/* input[type="text"] {
  width: 100%;
  font-size: 16px;
  background-color: white;
  border-radius: 25px;
  padding: 12px 20px 12px 40px;
} */

/* input:focus {
  outline-width: 0px;
} */

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}

/* s img {
  border-radius: "20%";
} */
