/* major help with code from Brian Design @https://www.youtube.com/watch?v=CXa0f4-dWi4 */

.navbar {
  z-index: 1;
  background-color: #060b26;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text a:hover {
  background-color: grey;
}

.navLink {
  min-width: 160px;
  text-decoration: none;
  color: #f5f5f5;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-right: 2px solid #aeaeae;
}

.activeNavLink {
  background-color: #138eff;
}

.nav-text {
  justify-content: start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-menu-items {
  width: 100%;
}

.title {
  margin-left: 16px;
}

icon {
  flex-shrink: 0;
}
