/* all code copied from Brian Design @https://www.youtube.com/watch?v=CXa0f4-dWi4 */

.navbar {
  z-index: 1;
  background-color: #060b26;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.searchbar {
  margin: 15px;
}

.pageTitle {
  margin-left: auto;
  margin-right: 40px;
  color: #53748c;
}

.nav-menu {
  z-index: 1;
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  display: flex;
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #138eff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

input[type="text"] {
  width: 100%;
  font-size: 16px;
  background-color: white;
  border-radius: 25px;
  padding: 12px 20px 12px 40px;
}

input:focus {
  outline-width: 0px;
}
s img {
  border-radius: "20%";
}
