.financePage {
  z-index: -1000;
  color: darkgray;
  font-size: 300%;
  position: fixed;
  top: 100px;
  left: 35px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.yearSelect {
  background-color: royalblue;
  z-index: -1000;
  color: white;
  position: fixed;
  font-size: 75%;
  left: 190px;
  top: 180px;
  padding: 45px 15px;
  height: 150px;
  width: 800px;
  border-radius: 25px;
}

.dropDown {
  font-size: 50%;
  z-index: -1000;
  color: black;
  position: absolute;
  top: 50px;
  left: 350px;
  width: 250px;
  vertical-align: 300px;
  border-radius: 25px;
}

.docUpload:link {
  font-size: 40%;
  z-index: -1000;
  font-weight: bold;
  text-align: center;
  padding: 55px 0px;
  color: royalblue;
  background-color: lightgray;
  border-radius: 25px;
  text-decoration: none;
  position: fixed;
  height: 150px;
  width: 260px;
  top: 180px;
  left: 1000px;
}
.docUpload:visited {
  z-index: -1000;
  color: royalblue;
}

.entry {
  z-index: -1000;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: black;
}

.award {
  z-index: -1000;
  position: fixed;
  top: 340px;
  left: 190px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}
.fullaccount:link {
  z-index: -1000;
  font-size: 60%;
  vertical-align: -40px;
  text-decoration: none;
  text-align: right;
  padding-left: 120px;
}
.fullaccount:hover {
  z-index: -1000;
  text-decoration: underline;
}
.fullaccount:visited {
  color: royalblue;
}

.standing {
  z-index: -1000;
  position: fixed;
  z-index: -100;
  top: 340px;
  left: 550px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}

.holds {
  z-index: -1000;
  position: fixed;
  top: 340px;
  left: 910px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}

.payment {
  z-index: -1000;
  position: fixed;
  top: 600px;
  left: 190px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 275px;
}
.table {
  z-index: -1000;
  font-size: 50%;
  border-spacing: 30px;
  border-collapse: separate;
  text-align: center;
}
