.financePage {
  font-size: 300%;
  z-index: -2000;
  overflow-x: hidden;
}

.financialheader {
  color: #3e2e2e;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  position: relative;
  top: 110px;
  left: 190px;
}

.yearSelect {
  background-color: royalblue;
  color: white;
  position: relative;
  font-size: 75%;
  left: 190px;
  top: 180px;
  padding: 45px 15px;
  height: 150px;
  width: 830px;
  border-radius: 25px;
  z-index: -100;
}

.dropDown {
  font-size: 50%;
  color: black;
  position: fixed;
  top: 75px;
  left: 550px;
  width: 250px;
}
.menu {
  z-index: 100;
}

.secureDocBox {
  border-radius: 25px;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: 1030px;
}
.docUpload:link {
  font-size: 40%;
  z-index: -1000;
  font-weight: bold;
  text-align: center;
  padding: 55px 0px;
  color: royalblue;
  background-color: lightgray;
  border-radius: 25px;
  text-decoration: none;
}
.docUpload:visited {
  z-index: -1000;
  color: royalblue;
}

.entry {
  z-index: -900;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: black;
}

.award {
  z-index: -1000;
  position: relative;
  top: 150px;
  left: 190px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}
.fullaccount:link {
  z-index: -1000;
  font-size: 60%;
  vertical-align: -40px;
  text-decoration: none;
  text-align: right;
  padding-left: 120px;
}
.fullaccount:hover {
  text-decoration: underline;
}
.fullaccount:visited {
  color: royalblue;
}

.standing {
  z-index: -1000;
  position: relative;
  top: -100px;
  left: 550px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}

.holds {
  z-index: -1000;
  position: relative;
  top: -350px;
  left: 910px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 250px;
}

.payment {
  z-index: -1000;
  position: relative;
  top: -310px;
  left: 190px;
  background-color: lightgray;
  color: black;
  font-weight: bolder;
  padding: 10px 5px;
  border-radius: 25px;
  font-size: 50%;
  width: 350px;
  height: 275px;
}
.table {
  z-index: -1000;
  font-size: 50%;
  border-spacing: 30px;
  border-collapse: separate;
  text-align: center;
}
